<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta property="fb:admins" content="629728665" /><!-- jmaurice -->
<meta property="fb:admins" content="639430736" /><!-- roger -->
<meta property="og:image" content="https://bitcoin.org/img/icons/opengraph.png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="The primary source for finding bitcoin wallets and places to buy and spend bitcoin." />
<title>{% capture title %}{% translate title %}{% endcapture %}{% if title != '' %}{{ title }}{% else %}{{ page.title }}{% endif %}</title>

<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/pure-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="/css/pure-min.css">
<!--<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
<!--<![endif]-->


<script type="text/javascript" src="/js/base.js"></script>

<script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>

<link rel="stylesheet" href="/js/venobox/venobox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/js/venobox/venobox.min.js"></script>
{% lesscss main2.less %}
<script type="text/javascript" src="/js/main.js"></script>

{% if page.id == 'buy-bitcoins' %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src="/js/buy-bitcoins.js"></script>
{% endif %}

{% if page.id == 'bitcoin-news' or page.id == 'bitcoin-news-article' or page.id == 'bitcoin-news-search' %}
<link rel="stylesheet" href="/css/grids-responsive-min.css">
<link rel="stylesheet" href="/css/news.css">
<script type="text/javascript" src="/js/pretty.js"></script>
<script type="text/javascript" src="/js/news-pages.js"></script>
{% endif %}

<link rel="shortcut icon" href="/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/img/icons/logo_ios.png"/>
<link rel="stylesheet" href="/css/front.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/css/topbar.css" type="text/css" media="screen" />

</head>

<body {% if page.id == 'buy-bitcoins' %} ng-app="buyBitcoins" {% endif %}>

<div class="btcom-top-bar">

	<div class="bar-center">
			<div class="bar-logoleft">
				<a href="/en/" style="  font-size: inherit; background-color: inherit;">
    				<img src="/img/templogo2.png" style="margin-top: 5px; ">
    				<span class="bar-logo-text">Bitcoin.com</span>
    			</a>
			</div>
			<div class="bar-menuright">
				<ul>
		        	<li><a href="/en/buy-bitcoins">Buy Bitcoins</a></li>
		        	<li><a href="/en/choose-your-wallet">Wallets</a></li>
		        	<li><a href="/en/bitcoin-news">News</a></li>
		            <li><a href="#">Learn more</a>
		            <ul>
		            	<li><a href="/en/getting-started">Getting started</a></li>
		                <li><a href="/en/how-it-works">How it Works</a></li>
		                <li><a href="/en/you-need-to-know">You Need to Know</a></li>
		                <li><a href="/en/faq">FAQ</a></li>
		            </ul>
		            </li>
		        </ul>
			</div>
  </div>
  
  
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <hr>
  </div>
</div>
<div id="detectmobile" class="detectmobile"></div>

<div id="content" class="content"
{% if page.id != 'index' %}
 style="  /* width: 930px; */ margin-left: auto;  margin-right: auto;"
{% endif %}
{% if page.id == 'index' %}
 style="width: auto"
{% endif %}
>
    {{ content }}
</div>


<div class="pure-g" style="display: block;">
  <div class="pure-u-1">
    <hr style="margin-top: 32px;">
  </div>
</div>


<div class="pure-g" style="display: block;">
  <div class="pure-u-1 center footer">
    <a href="/en/legal">Legal</a> &nbsp;&nbsp; &middot; &nbsp;&nbsp;
    <a href="/en/advertise">Advertise</a> &nbsp;&nbsp; &middot; &nbsp;&nbsp;
    <a href="/en/privacy">Privacy</a> &nbsp;&nbsp; &middot; &nbsp;&nbsp;
    <a href="/en/press">Press</a> &nbsp;&nbsp; &middot; &nbsp;&nbsp;
    <a href="/en/about-us">About bitcoin.com</a>
  </div>
  <div class="pure-u-1 center footer">
  	<div class="getsocial gs-inline-group gs-follow"></div>
    <script type="text/javascript">var GETSOCIAL_ID = "5c8fb7";var GETSOCIAL_LANG = "en"; (function() { var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = '//api.at.getsocial.io/widget/v1/gs_async.js?id='+GETSOCIAL_ID; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })();</script>
  </div>
  <div class="pure-u-1 center footer">
    Saint Bitts LLC. 2015
  </div>
</div>



<script>
$(document).ready(function(){

    /* default settings */
    $('.venobox').venobox();


    /* custom settings */
    $('.venobox_custom').venobox({
        framewidth: '400px',        // default: ''
        frameheight: '300px',       // default: ''
        border: '10px',             // default: '0'
        bgcolor: '#5dff5e',         // default: '#fff'
        titleattr: 'data-title',    // default: 'title'
        numeratio: true,            // default: false
        infinigall: true            // default: false
    });

    /* auto-open #firstlink on page load */
    $("#firstlink").venobox().trigger('click');
});

</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-59964190-1', 'auto');
    ga('send', 'pageview');
</script>
</body>

</html>
